li:hover {
  text-decoration: line-through;
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

ul {
}

li {
  padding: 10px;
}

i {
  padding: 0 10px;
}
