* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.mainList {
  font-size: 5em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
}
button {
  padding: 0.5em 1em;
}

.inputContainer {
  display: block;
  justify-content: center;
  text-align: center;
  margin: 1em;
}

.btnContainer {
  display: block;
  margin: 1em;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding-left: 0; /* Optional: Remove default padding */
}

.listBorder {
  border: 1px solid black;
  border-radius: 12px;
  margin-bottom: 1em;
  padding: 1em;
  background-color: white;
}

fieldset {
  border-radius: 12px;
  background-color: crimson;
  padding: 3em;
}
